body {
  background-image: linear-gradient(
    to right,
    rgba(219, 219, 219, 0.726),
    rgb(126, 148, 173)
  );
}

.haupt {
  padding-top: 40px;
}

.datepickershow img {
  width: 50px;
  padding-left: 5px;

  border-radius: 10px;
}

.datumcss {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline;
  font-size: 34px;
}

.kopfleiste {
  padding-bottom: 20px;
}

#tabellecss {
  font-size: 12px;
}

.custombutton {
  background-color: transparent;
  color: white;
  border-width: 0px;
  font-weight: 700;
}

.custombutton:hover {
  background-color: white;
  color: black;
  border-width: 0px;
  font-weight: 700;
  border-radius: 5px;
}

.custombuttonNoHover {
  background-color: transparent;
  color: white;
  border-width: 0px;
  font-weight: 700;
}
